version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: aoka-frontend:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_URL: "https://api.aoka.xn--80ao21a/"
    volumes:
      - .:/app
    working_dir: /app
    command: bash -lc "npm ci && npm run build && npm start"
